{
  "outbounds": [
    {
      "type": "vless",
      "server": "connex.itt.com.au",
      "server_port": 3200,
      "uuid": "73674816-b2b0-4e45-ad61-fae541681add",
      "flow": "xtls-rprx-vision",
      "tls": {
        "enabled": true,
        "server_name": "www.cloudflare.com",
        "utls": {
          "enabled": true,
          "fingerprint": "chrome"
        },
        "reality": {
          "enabled": true,
          "public_key": "5PriavlWjZLCMpkGBIm0v9HSqyG0Vt6oJ_wxg-nlXEc",
          "short_id": "b5d084d6667c2baf"
        }
      },
      "packet_encoding": "xudp"
    }
  ]
}