# Managed by Ansible (modules/4_agent). chmod 600.
# AGENT_TOKEN must match hub WP_AGENT_TOKEN on monitoring.itt.com.au
AGENT_TOKEN={{ wp_agent_token_resolved }}
AGENT_SERVER_URL={{ agent_server_url }}
WP_ROOT={{ wp_root }}
WP_CLI_PATH={{ wp_cli_path }}
RUST_LOG=info
